div, span, * {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0; }

.hide {
  display: none; }

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center; }

.flex-row-center, .orientation-mask-wrapper, .container.step-01 .content-box .rule-mask-box, .container.step-01 .content-box .rulebutton, .container.step-02 .content-box .content .header, .container.step-03 .content-box .city-list .name, .container.step-04 .content-box .longpressbtn-box, .container.step-04 .content-box .show-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.flex-row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.orientation-mask-wrapper {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #000; }

.container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; }
  .container .fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: hidden; }
    .container .fullscreen img {
      position: relative;
      width: 100%;
      height: 100%; }
  .container .logo {
    position: absolute;
    width: 5.7rem;
    height: 1.4rem;
    left: 0.5rem;
    top: 0.5rem; }
    .container .logo img {
      width: 100%;
      height: 100%; }
  .container .content-box {
    position: absolute;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0; }
  .container.step-01 .content-box .title {
    width: 100%;
    height: 28%; }
    .container.step-01 .content-box .title img {
      width: 100%; }
  .container.step-01 .content-box .buttons {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    justify-content: space-around; }
    .container.step-01 .content-box .buttons div {
      margin: auto;
      text-align: center;
      width: 40%; }
      .container.step-01 .content-box .buttons div img {
        width: 80%;
        height: auto;
        flex-grow: 1;
        flex-shrink: 1; }
  .container.step-01 .content-box .rule-mask-box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0; }
    .container.step-01 .content-box .rule-mask-box .bg {
      width: 100%;
      height: auto; }
    .container.step-01 .content-box .rule-mask-box .button {
      position: absolute;
      left: 50%;
      margin-left: -3rem;
      top: 50%;
      margin-top: 2rem;
      width: 6rem;
      height: auto; }
  .container.step-01 .content-box .rulebutton {
    width: 10%;
    height: 4%;
    margin-top: 1.5rem; }
    .container.step-01 .content-box .rulebutton img {
      height: 1.5rem;
      width: auto; }
  .container.step-02 {
    display: none; }
    .container.step-02 .content-box {
      width: 100%;
      color: #fff;
      display: flex;
      flex-direction: column; }
      .container.step-02 .content-box .content {
        width: 100%;
        height: 80%; }
        .container.step-02 .content-box .content .header {
          width: 100%;
          font-weight: bold;
          font-size: 0.8rem;
          padding: 10px 0;
          border-bottom: 2px solid #fff; }
          .container.step-02 .content-box .content .header .closebtn {
            position: absolute;
            right: 0px;
            top: 45px;
            width: 30px;
            height: 30px; }
        .container.step-02 .content-box .content .body {
          font-size: 0.7rem;
          padding: 10px 0;
          height: 82%;
          overflow-y: scroll;
          overflow-x: hidden; }
  .container.step-03 {
    display: none; }
    .container.step-03 .content-box {
      display: flex;
      flex-direction: column; }
      .container.step-03 .content-box .dist-area {
        width: 100%;
        display: flex;
        flex-direction: row;
        color: #fff;
        font-size: 0.9rem;
        font-weight: bold;
        justify-content: space-between;
        height: 1.3rem;
        margin-bottom: 0.4rem; }
        .container.step-03 .content-box .dist-area .name.selected {
          border-bottom: 0.08rem solid #fff; }
      .container.step-03 .content-box .city-list {
        width: 100%;
        height: 8.5rem; }
        .container.step-03 .content-box .city-list .name {
          float: left;
          margin-bottom: 0.5rem;
          margin-right: 0.78rem;
          width: 21%;
          height: 1.60rem;
          color: #fff;
          font-size: 0.62rem;
          line-height: 0.1rem;
          font-weight: bold;
          border: 1px solid #fff;
          padding: 0.07rem 0; }
          .container.step-03 .content-box .city-list .name:nth-child(4n) {
            margin-right: 0; }
          .container.step-03 .content-box .city-list .name.selected {
            background: url("../images/selected.png") no-repeat right 0.14rem bottom 0.2rem;
            background-size: 0.6rem 0.6rem; }
      .container.step-03 .content-box .button {
        text-align: center;
        margin-top: 10px;
        width: 100%; }
        .container.step-03 .content-box .button img {
          width: 6rem;
          height: auto; }
  .container.step-04 {
    display: none; }
    .container.step-04 .fullscreen {
      position: absolute;
      left: 0;
      top: 0; }
    .container.step-04 .content-box .frame {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%; }
      .container.step-04 .content-box .frame #frameimagetosave {
        opacity: 0; }
      .container.step-04 .content-box .frame img {
        width: 100%; }
      .container.step-04 .content-box .frame canvas {
        position: absolute;
        left: 0;
        top: 0; }
    .container.step-04 .content-box .longpressbtn-box {
      position: absolute;
      bottom: 1.23rem;
      z-index: 1000;
      left: 50%;
      margin-left: -3.7rem; }
      .container.step-04 .content-box .longpressbtn-box .btn {
        margin: 0 0.2rem;
        height: 1.3rem;
        width: auto; }
    .container.step-04 .content-box .show-box {
      position: absolute;
      bottom: 1.23rem;
      z-index: 1001;
      left: 50%;
      margin-left: 0.4rem; }
      .container.step-04 .content-box .show-box .btn {
        margin: 0 0.2rem;
        height: 1.3rem;
        width: auto; }
    .container.step-04 .content-box .plain-text-box {
      width: 100%; }
      .container.step-04 .content-box .plain-text-box img {
        width: 100%; }

/*# sourceMappingURL=main.css.map */
